<div class="container">
  <div class="d-flex justify-content-center">
    <form [formGroup]="todosForm" (ngSubmit)="onSubmit()">

      <label>
        New task:
        <input type="text" formControlName="todo" placeholder="todo">
      </label>
      <button type="submit" class="btn btn-success ml-2">Add task</button>

    </form>
  </div>
  <hr>
  <h2>My TODOs:</h2>
  <ul class="list-group list-group-flush">
    <li *ngFor="let todo of todos" class="list-group-item">
      {{ todo }}
    </li>
  </ul>


</div>
